<html>

<head>
    <title>DECIDE</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}pure-min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bot-style.css">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

</head>

<body>

<div class="splash-top">
    <h1>CryptoBot</h1>
    <h2>{{ user.username }}</h2>
</div>

<div class="contentwrap">

<div id="trade-header">
    <h1 id='title'>Algorithmic Bots</h1>
</div>


<form action={% url 'cryptobot:bots' %} method="post" class="pure-form pure-form-stacked">
{% csrf_token %}
{{ botform.as_p }}
<button type="submit" class="pure-button pure-button-primary">Create</button>
</form>


</div>
