<html>

<head>
    <title>log the fuck in</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}pure-min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
</head>

<body id="login">

{% block content %}

<div class="log-in">
<form class="pure-form pure-form-stacked" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    <fieldset>
    {% csrf_token %}

    <div class="pure-control-group">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="pure-control-group">
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    <div class="pure-controls">
        <button class="pure-button pure-button-primary" type="submit">Log in</button>
    </div>
    </fieldset>
</form>
</div>

<p class="log-in-error">
{% if form.errors %}
Your username and password didn't match. Please try again.
{% endif %}
</p>


{% endblock %}


</body>
</html>
